<ion-header>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
    <ion-grid class="ion-no-padding">
      <br><br><br><br>
      <ion-row>
        <ion-col size="1">
        </ion-col>


        <ion-col size="10">
          <ion-card>
            <ion-img class="img" src="assets/img/Logo.png"></ion-img>
            <ion-item>
              <ion-icon name="people" slot="end"></ion-icon>
              <ion-label>CPF:</ion-label>
              <ion-input [brmasker]="{mask:'000.000.000-00', len:14, userCaracters: true, type: 'num'}" formControlName="cpf"
                id="cpf"></ion-input>
            </ion-item>

            <ion-item>
              <ion-icon name="medical" slot="end"></ion-icon>
              <ion-label>Senha:</ion-label>
              <ion-input type='password' formControlName="senha" id="password"></ion-input>
            </ion-item>

            <ion-button expand="full" [disabled]="formGroup.invalid" (click)="logar()" color="success">
              <ion-icon name="person-add" class="ion-padding-end"></ion-icon>Login
            </ion-button>

          </ion-card>
          <div>
            <span class="texto-centralizado">Tem conta? <a [routerLink]="['/cadastro']"
                routerLinkActive="router-link-active">Não</a></span>
          </div>
          <div>
            <span class="texto-centralizado">Esqueceu a Senha? <a [routerLink]="['/esqueceu-senha']"
                routerLinkActive="router-link-active" class="link">Sim</a></span>
          </div>
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
