<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Enviar Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">

        <form [formGroup]="formGroup">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Deixe seu Feedback</ion-card-title>
              <ion-card-subtitle>ajude-nos a melhorar nosso aplicativo com sua opnião sobre nosso sistema
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Titulo do feedback:</ion-label>
                <ion-input formControlName="titulo"></ion-input>

                <span class="error-message"
                  *ngIf="formGroup.get('titulo').getError('required') && formGroup.get('titulo').touched">
                  <ion-icon name="information-circle-outline"></ion-icon> {{getMensagemCampoObrigatorio('Titulo')}}
                </span>

                <span class="error-message"
                  *ngIf="(formGroup.get('titulo').getError('minlenght') ||formGroup.get('titulo').getError('maxlenght') )  && formGroup.get('titulo').touched">
                  <ion-icon name="information-circle-outline"></ion-icon> {{getMensagemCampoComTamanho('Titulo',
                  0 , 255)}}
                </span>
              </ion-item>

              <ion-item>

                <ion-label position="floating">Comentario:</ion-label>
                <ion-textarea formControlName="descricao" placeholder="deixe seu comentario"></ion-textarea>
                <span class="error-message"
                  *ngIf="formGroup.get('descricao').getError('required') && formGroup.get('descricao').touched">
                  <ion-icon name="information-circle-outline"></ion-icon> {{getMensagemCampoObrigatorio('Descrição')}}
                </span>
              </ion-item>


              <div class="div-bt">
                <ion-button (click)="enviarFeedback()" [disabled]="formGroup.invalid" color="success" class="botao"
                  fill='outline' size='large'>Enviar
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </form>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>



  <br><br><br><br><br><br><br><br><br>
  <ion-footer>Equipe TotalMed <ion-icon name='heart' color="danger"></ion-icon>
  </ion-footer>
</ion-content>
